# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore environment-specific settings
*.env

# Ignore log files
*.log

# Ignore SQLite database file (if using SQLite)
*.sqlite3

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore virtual environment directories (if using virtualenv or venv)
venv/
env/
